
@model IndexViewModel

@{

    ViewData["Title"] = "Manage your account";

}



<h2>@ViewData["Title"].</h2>

<p class="text-success">@ViewData["StatusMessage"]</p>



<div>

    <hr />

    <dl class="dl-horizontal">



        <dt>Name: </dt>

        <dd>

            @Model.ApplicationUser.Firstname @Model.ApplicationUser.Lastname

        </dd>



        <dt>Phone Number: </dt>

        <dd>

            @Model.ApplicationUser.PhoneNumber

        </dd>

        <dt>Address: </dt>

        <dd>

            @Model.ApplicationUser.streetadress

        </dd>

        <dt>Email: </dt>

        <dd>

            @Model.ApplicationUser.Email

        </dd>

    </dl>

    <div>

        <a asp-controller="PaymentTypes" asp-action="Index">Saved Payment Methods</a>

        <br />

        <a asp-controller="PaymentTypes" asp-action="Create">Add Method of Payment</a>

        <br />

        <a asp-controller="Orders" asp-action="OrderHist">Order History</a>

    </div>

    <br />

    <a asp-action="EditProfile" asp-route-id="@Model.ApplicationUser.Id" class="btn btn-default">Edit Profile</a>

</div>