@model BangazonWebsite.Models.ProductType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

    
        <dt>
            @Html.LabelFor(model => model.Products, "Products")
        </dt>
        @foreach (var x in Model.Products)
        {
            <dd>
                @x.Title @x.Quantity @x.Price

            </dd>

        }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>