@model BangazonWebsite.Models.ProductType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

    <h4>ProductType</h4>
    <hr />
    
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

    
        <dt>
            @Html.LabelFor(model => model.Products, "Products")
        </dt>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>

            @foreach (var x in Model.Products)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@x.ProductId" asp-controller="Products">
                            @Html.DisplayFor(modelItem => x.Title)
                        </a>
                    </td>

                    <td>@Html.DisplayFor(modelItem => x.Title)</td>
                    <td>@Html.DisplayFor(modelItem => x.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => x.Price)</td>

                </tr>

            }

        </table>  

<div>
    <a asp-action="Index">Back to List</a>
</div>