@model BangazonWebsite.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocalDelivery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalDelivery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductType.ProductTypeId)
        </dd>
    </dl>
    <form asp-action="AddToOrder">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" value="@Model.ProductId" name="ProductId"/>
                <input type="submit" asp-action="AddToOrder" value="Add To Order" class="btn btn-default" />
            </div>
        </div>
    </form>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
